*{
  box-sizing: border-box;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Karla', sans-serif;
  background-color: beige;
  height: 100%;
}

#root{
  height: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#drum-machine{
  background-color: white;
  width: 40vw;
  height: 20vw;
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


/* slider  power*/
 input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 50px;
  height: 26px;
  background: grey;
  display: block;
  border-radius: 3px;
  position: relative;
}

.bank label {
  background-color: lightcoral;
}

label:after {
  content: '';
  position: absolute;
  top:3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}

 input:checked + label {
  background: lightcoral;
}

 input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

/* label:active:after {
  width: 30px;
} */




.controls-panel{
  padding-left: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
}

.center{
  place-self: center;
}

.control{
  display: grid;
}

.description{
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: bold;

}

#display{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0.5rem;
  background-color: lightcoral;
  width: 70%;
  font-weight: 500;
}

